#p1 {
  background: red;
  width: 100px;
  height: 100px;
  font-size: 70px;
  text-align: center;
  margin: auto;
}
#p1:hover {
  animation: myFont;
  animation-duration: 10s;
  animation-iteration-count: 1;
}

@keyframes myColor {
  from {
    background-color: red;
  }
  to {
    background-color: blue;
  }
}
@keyframes mySevenColor {
  0% {
    background-color: red;
  }
  15% {
    background-color: orange;
  }
  30% {
    background-color: yellow;
  }
  45% {
    background-color: green;
  }
  60% {
    background-color: blue;
  }
  75% {
    background-color: indigo;
  }
  90% {
    background-color: purple;
  }
}
@keyframes myRotate {
  /* 50% {
    transform: rotateZ(180deg);
  } */
  50% {
    transform: rotateX(180deg);
  }
  /* 50% {
    transform: rotateY(180deg);
  } */
}
@keyframes mySkew {
  /* 50% {
    transform: skewX(90deg);
  } */
  50% {
    transform: skewY(90deg);
  }
}
@keyframes myTranslate {
  50% {
    transform: translate(100px, 200px);
  }
}
@keyframes myScale {
  70% {
    transform: scale(0.2, 0.3);
  }
}
@keyframes myOpacity {
  /* 0% {
    opacity: 1;
  } */
  50% {
    opacity: 0;
  }
  /* 100% {
    opacity: 1;
  } */
}
@keyframes myFont {
  50% {
    font-size: 200px;
  }
}
